<h1>Wall</h1>

<h2>Welcome <%= user.first_name %></h2>

<h3>Post a message</h3>
<form action="/messages" method="post">
    <input type="text" name="message">
    <input type="submit" value="Post a message">
</form>

<% let current_message_id = 0 %>

<% for(let i in messages_comments){ %>
    <% const element = messages_comments[i] %>
    
    <% if(current_message_id !== element.message_id){ %>
        <!-- comment form -->
        <% if(current_message_id){ %>
            <h1>Comments</h1>
            <form action="/comments" method="post">
                <input type="hidden" name="message_id" value=<%= current_message_id %>>
                <input type="text" name="comment">
                <input type="submit" value="Comment">
            </form>
        <% } %>
        
        <% current_message_id = element.message_id %>

        <!-- display distinct messages -->
        <h1>Message</h1>
        <p><%= `${element.message_owner_name} - ${element.message} (${element.message_posted_at})` %></p>
        <!-- delete message -->
        <% if(element.message_owner_id === user.id){ %>
            <form action="/messages/destroy" method="post">
                <input type="hidden" name="message_id" value=<%= element.message_id %>>
                <input type="submit" value="Delete This message">
            </form>
        <% } %>
    <% } %>

    <div>
        <% if(element.comment){ %>
            <%= `${element.comment_owner_name} - ${element.comment} (${element.comment_posted_at})` %>
        <% } %>
        <% if(element.comment_owner_id === user.id){ %>
            <form action="/comments/destroy" method="post">
                <input type="hidden" name="comment_id" value=<%= element.comment_id %>>
                <input type="submit" value="Delete This Comment">
            </form>
        <% } %>
    </div>

<% } %>

<% if(current_message_id){ %>
    <h1>Comment</h1>
    <form action="/comments" method="post">
        <input type="hidden" name="message_id" value=<%= current_message_id %>>
        <input type="text" name="comment">
        <input type="submit" value="Comment">
    </form>
<% } %>